/* notification */
.mat-snack-bar-container {
  background: #5cb85c !important;
  color: #fff;
}

snack-bar-container.em-notification simple-snack-bar {
  font-size: 18px !important;
  font-weight: bold;
}
