<form [formGroup]="eventsForm" action="" class="em-form" (submit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="250px">
    <mat-grid-title>
      <div class="em-form__controls">
        <!-- <input type="hidden" formControlName="_id" /> -->
        <mat-form-field>
          <input formControlName="title" matInput placeholder="Title" />
          <mat-error>This field is mandatory</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="description" matInput placeholder="Description" />
          <mat-error>This field is mandatory</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="date" matInput [matDatepicker]="picker" placeholder="Choose a date" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="location" matInput placeholder="Location" />
          <mat-error>This field is mandatory</mat-error>
        </mat-form-field>
        <div class="em-form__buttons">
          <button mat-raised-button color="primary" type="submit" [disabled]="eventsForm.invalid">Submit</button>
          <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
        </div>
      </div>
    </mat-grid-title>
  </mat-grid-list>
</form>
