<div class="em-em__container">
  <button mat-raised-button class="em-em__add-button" (click)="addEvent()"><mat-icon>add</mat-icon>Create event</button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Filter events..." autocomplete="off" (keyup)="applyFilter()" />
    <button
      mat-button
      matSuffix
      class="em-em__clear-button"
      mat-icon-button
      aria-label="clear"
      *ngIf="searchKey"
      (click)="searchClear()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  <ng-container matColumnDef="Title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let events">{{ events.title }}</td>
  </ng-container>
  <ng-container matColumnDef="Description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let events">{{ events.description }}</td>
  </ng-container>
  <ng-container matColumnDef="Date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
    <td mat-cell *matCellDef="let events">{{ events.date }}</td>
  </ng-container>
  <ng-container matColumnDef="Location">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
    <td mat-cell *matCellDef="let events">{{ events.location }}</td>
  </ng-container>
  <ng-container matColumnDef="Weather">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Weather</th>
    <td mat-cell *matCellDef="let events"><img [src]="events.weatherIcon" style=" width: 50px; height: 50px; " /></td>
  </ng-container>
  <ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button (click)="onEdit(row)"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button (click)="onDelete(row)" color="warn"><mat-icon>delete_outline</mat-icon></button>
    </td>
  </ng-container>
  <ng-container matColumnDef="loading">
    <mat-footer-cell *matFooterCellDef colspan="6"> Loading data...</mat-footer-cell>
  </ng-container>
  <ng-container matColumnDef="noData">
    <mat-footer-cell *matFooterCellDef colspan="6"> No data.</mat-footer-cell>
  </ng-container>
  <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{ hide: dataSource != null }"></mat-footer-row>
  <mat-footer-row
    *matFooterRowDef="['noData']"
    [ngClass]="{ hide: !(dataSource != null && dataSource.length === 0) }"
  ></mat-footer-row>
</table>
